Source: wintersky-sddm-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://git.siduction.org/extra/settings-sddm
Vcs-Git: https://git.siduction.org/extra/settings-sddm.git
Homepage: https://git.siduction.org/extra/settings-sddm

Package: wintersky-sddm-settings
Architecture: all
Depends: ${misc:Depends},      
         sddm,
         sddm-theme-wintersky,
         libpam-systemd,
         gnome-icon-theme,
         gnome-icon-theme-symbolic
Description: SDDM settings (installed mode)
 Meta-Package for distribution settings

Package: wintersky-sddm-livesettings
Architecture: all
Depends: ${misc:Depends},
         wintersky-sddm-settings,
         sddm-theme-wintersky,
         libpam-systemd,
         gnome-icon-theme,
         gnome-icon-theme-symbolic
Description: SDDM settings (live mode)
 Meta-Package for distribution live settings
